.hero {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10rem;
    background-color: #eaeaea;
    border-bottom-left-radius: 100px;
}

.hero-btn button {
    padding: 0.5rem 1.5rem;
    margin-left: 1rem;
    border: none;
    border-radius: 1.2rem;
    background-color: #0e0125;
    color: white;
    cursor: pointer;

}